In [1]:
import pandas as pd
import numpy as np
from pykalman import KalmanFilter

In [3]:
New_weather_steps = pd.read_csv("Transformed_weather_steps.csv")
New_weather_steps = New_weather_steps.drop("Unnamed: 0",axis=1)

In [4]:
# Implements the Kalman filter for single columns.
def apply_kalman_filter(data_table, col):
    # Initialize the Kalman filter with the trivial transition and observation matrices.
    kf = KalmanFilter(transition_matrices=[[1]], observation_matrices=[[1]])

    numpy_array_state = data_table[col].values
    numpy_array_state = numpy_array_state.astype(np.float32)
    numpy_matrix_state_with_mask = np.ma.masked_invalid(numpy_array_state)

    # Find the best other parameters based on the data (e.g. Q)
    kf = kf.em(numpy_matrix_state_with_mask, n_iter=5)

    # And apply the filter.
    (new_data, filtered_state_covariances) = kf.filter(numpy_matrix_state_with_mask)

    data_table[col + '_kalman'] = new_data
    return(data_table)

In [5]:
data_table = New_weather_steps
col = "steps"
data_table = apply_kalman_filter(data_table, col)
display(data_table.iloc[:15])

,start,end,steps,start_weather,end_weather,# STN,direction_wind,windspeed_avg_hour,windspeed_avg_10min,max_wind_gust,...,cloud_cover,relative_humidity,weather_code,indicator_present_weather_code,fog,rain,snow,thunder,ice_formation,steps_kalman
0,2023-01-01 00:00:00,2023-01-01 00:10:00,0.000000,2023-01-01 00:00:00,2023-01-01 01:00:00,215,220.0,110.0,130.0,200.0,...,8.0,68.0,NaN,5,0.0,0.0,0.0,0.0,0.0,20.465898
1,2023-01-01 00:10:00,2023-01-01 00:20:00,97.054054,2023-01-01 00:00:00,2023-01-01 01:00:00,215,220.0,110.0,130.0,200.0,...,8.0,68.0,NaN,5,0.0,0.0,0.0,0.0,0.0,50.579339
2,2023-01-01 00:20:00,2023-01-01 00:30:00,94.945946,2023-01-01 00:00:00,2023-01-01 01:00:00,215,220.0,110.0,130.0,200.0,...,8.0,68.0,NaN,5,0.0,0.0,0.0,0.0,0.0,73.204683
3,2023-01-01 00:30:00,2023-01-01 00:40:00,0.000000,2023-01-01 00:00:00,2023-01-01 01:00:00,215,220.0,110.0,130.0,200.0,...,8.0,68.0,NaN,5,0.0,0.0,0.0,0.0,0.0,33.931264
4,2023-01-01 00:40:00,2023-01-01 00:50:00,46.876667,2023-01-01 00:00:00,2023-01-01 01:00:00,215,220.0,110.0,130.0,200.0,...,8.0,68.0,NaN,5,0.0,0.0,0.0,0.0,0.0,40.949190
5,2023-01-01 00:50:00,2023-01-01 01:00:00,126.326232,2023-01-01 00:00:00,2023-01-01 01:00:00,215,220.0,110.0,130.0,200.0,...,8.0,68.0,NaN,5,0.0,0.0,0.0,0.0,0.0,87.334058
6,2023-01-01 01:00:00,2023-01-01 01:10:00,128.406776,2023-01-01 01:00:00,2023-01-01 02:00:00,285,220.0,160.0,150.0,200.0,...,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,109.658711
7,2023-01-01 01:10:00,2023-01-01 01:20:00,26.821821,2023-01-01 01:00:00,2023-01-01 02:00:00,285,220.0,160.0,150.0,200.0,...,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,64.629329
8,2023-01-01 01:20:00,2023-01-01 01:30:00,0.000000,2023-01-01 01:00:00,2023-01-01 02:00:00,285,220.0,160.0,150.0,200.0,...,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,29.496724
9,2023-01-01 01:30:00,2023-01-01 01:40:00,94.514644,2023-01-01 01:00:00,2023-01-01 02:00:00,285,220.0,160.0,150.0,200.0,...,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,64.840710
10,2023-01-01 01:40:00,2023-01-01 01:50:00,83.035725,2023-01-01 01:00:00,2023-01-01 02:00:00,285,220.0,160.0,150.0,200.0,...,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,74.731600
11,2023-01-01 01:50:00,2023-01-01 02:00:00,1.945755,2023-01-01 01:00:00,2023-01-01 02:00:00,285,220.0,160.0,150.0,200.0,...,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,35.164897
12,2023-01-01 02:00:00,2023-01-01 02:10:00,0.000000,2023-01-01 02:00:00,2023-01-01 03:00:00,310,210.0,140.0,130.0,170.0,...,8.0,72.0,NaN,5,0.0,0.0,0.0,0.0,0.0,16.049105
13,2023-01-01 02:10:00,2023-01-01 02:20:00,117.962963,2023-01-01 02:00:00,2023-01-01 03:00:00,310,210.0,140.0,130.0,170.0,...,8.0,72.0,NaN,5,0.0,0.0,0.0,0.0,0.0,71.449923
14,2023-01-01 02:20:00,2023-01-01 02:30:00,134.037037,2023-01-01 02:00:00,2023-01-01 03:00:00,310,210.0,140.0,130.0,170.0,...,8.0,72.0,NaN,5,0.0,0.0,0.0,0.0,0.0,105.472550