In [4]:
import pandas as pd
import numpy as np
from pykalman import KalmanFilter

In [18]:
New_weather_steps = pd.read_csv("New_weather_steps.csv")
New_weather_steps = New_weather_steps.drop("Unnamed: 0",axis=1)

In [16]:
# Implements the Kalman filter for single columns.
def apply_kalman_filter(data_table, col):
    # Initialize the Kalman filter with the trivial transition and observation matrices.
    kf = KalmanFilter(transition_matrices=[[1]], observation_matrices=[[1]])

    numpy_array_state = data_table[col].values
    numpy_array_state = numpy_array_state.astype(np.float32)
    numpy_matrix_state_with_mask = np.ma.masked_invalid(numpy_array_state)

    # Find the best other parameters based on the data (e.g. Q)
    kf = kf.em(numpy_matrix_state_with_mask, n_iter=5)

    # And apply the filter.
    (new_data, filtered_state_covariances) = kf.filter(numpy_matrix_state_with_mask)

    data_table[col + '_kalman'] = new_data
    return(data_table)

In [17]:
data_table = New_weather_steps
col = "temp_celsius"
data_table = apply_kalman_filter(data_table, col)
display(data_table)

,start,steps,direction_wind,windspeed_avg_hour,windspeed_avg_10min,max_wind_gust,temp_celsius,temp_min_6h,temp_dewpoint,sunshine_duration,...,relative_humidity,weather_code,indicator_present_weather_code,fog,rain,snow,thunder,ice_formation,int_steps,temp_celsius_kalman
0,2023-01-01 00:00:00,0.000000,220.0,110.0,130.0,200.0,142.0,NaN,84.0,0.0,...,68.0,NaN,5,0.0,0.0,0.0,0.0,0.0,0,97.229469
1,2023-01-01 00:10:00,97.054054,220.0,110.0,130.0,200.0,142.0,NaN,84.0,0.0,...,68.0,NaN,5,0.0,0.0,0.0,0.0,0.0,97,130.315610
2,2023-01-01 00:20:00,94.945946,220.0,110.0,130.0,200.0,142.0,NaN,84.0,0.0,...,68.0,NaN,5,0.0,0.0,0.0,0.0,0.0,94,139.429072
3,2023-01-01 00:30:00,0.000000,220.0,110.0,130.0,200.0,142.0,NaN,84.0,0.0,...,68.0,NaN,5,0.0,0.0,0.0,0.0,0.0,0,141.439368
4,2023-01-01 00:40:00,46.876667,220.0,110.0,130.0,200.0,142.0,NaN,84.0,0.0,...,68.0,NaN,5,0.0,0.0,0.0,0.0,0.0,46,141.877798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22460,2023-06-05 23:20:00,0.000000,10.0,60.0,60.0,80.0,NaN,NaN,NaN,NaN,...,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,0,125.998606
22461,2023-06-05 23:30:00,0.000000,10.0,60.0,60.0,80.0,NaN,NaN,NaN,NaN,...,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,0,125.998606
22462,2023-06-05 23:40:00,0.000000,10.0,60.0,60.0,80.0,NaN,NaN,NaN,NaN,...,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,0,125.998606
22463,2023-06-05 23:50:00,0.000000,10.0,60.0,60.0,80.0,NaN,NaN,NaN,NaN,...,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,0,125.998606
22464,2023-06-06 00:00:00,0.000000,360.0,20.0,20.0,30.0,95.0,NaN,82.0,0.0,...,91.0,NaN,6,NaN,NaN,NaN,NaN,NaN,0,96.447003